{% extends 'inicio/base.html' %}
{% block title %}
<title>Sobre nosotros</title>
{% endblock %}
{% block content %}
{% load static %}
<div class="container text-center py-5">
<h1 class="header-title">Arreglos de Flores y Suculentas</h1>
</div>

<div class="container col-md-6 text-center ">
<img src="{% static 'img/nosotros.png' %}" class="img-fluid" alt="Imagen de ejemplo">
</div>


<div class="container text-center py-5">
<p class="subtext" style="font-size: 25px;">
    Los arreglos se hacen al día con tallos frescos, podrá haber variaciones en el tono y/o variedad,
    pero siempre entregaremos suculentas vivas y hermosas flores frescas en un lindo arreglo muy similar al de la imagen.
</p>
</div>    
{% endblock %}