{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">logo</a></li>
            <li>
                <input type="search" placeholder="Buscar Producto">
                <button>Buscar</button>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'product' %}">Administrar Base de datos productos</a></li>
            <li><a href="{% url 'vendedores' %}">Administrar Base de datos vendedores</a></li>
            <li><a href="">Bienvenido, {{ user.full_name }}!</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <h1>Agregar Producto</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Producto</button>
    </form>
</body>
</html>