{% extends 'inicio/base.html' %}
{% block title %}
<title>Agregar Vendedor</title>
{% endblock %}
{% block content %}
<div class="container text-center py-5">
    <form method="POST" >
        |{% csrf_token %}
        <h3>Formulario de Usuario</h3>
        {{ usuario_form.as_p }}

        <h3>Formulario de Trabajador</h3>
        {{ trabajador_form.as_p }}

        <button type="submit" class="btn" style="background-color: #ff91c6; color: white;">Agregar Trabajador</button>
        
    </form>
</div>
{% endblock %}