{% extends 'inicio/base.html' %}
{% block title %}
<title>Agregar Dirección</title>
{% endblock %}
{% block content %}
<div class="container text-center py-5">
    <h1 class="header-title">Agregar Nueva Dirección</h1>
</div>

<div class="container text-center col-md-4">
    <form method="post">
        {% csrf_token %}
        
        <!-- Campo para Codigo postal -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_codpos" style="font-size: 25px;">Codigo postal:</label>
            {{ form.codpos }}
        </div>


        <!-- Campo para Ciudad -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_ciudad" style="font-size: 25px;">Ciudad:</label>
            {{ form.ciudad }}
        </div>

        <!-- Campo para colonia -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_colonia" style="font-size: 25px;">Colonia:</label>
            {{ form.colonia }}
        </div>

        <!-- Campo para calle -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_calle" style="font-size: 25px;">Calle:</label>
            {{ form.calle }}
        </div>


        <button type="submit" class="btn" style="background-color: #ff91c6; color: white; margin-bottom: 10px; font-size: 16px;">
            Guardar Dirección
        </button>
    </form>
    
    </form>
    
    <!-- Enlace para volver al carrito -->
    <a href="{% url 'mis_direcciones' %}" class="btn" style="background-color: #ff91c6; color: white; margin-top: 10px;">
        Volver a direcciones
    </a>
</div>
{% endblock %}
