{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buqueda</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">logo</a></li>
            <li>
                <form method="get" action="{% url 'buscar_productos' %}" class="search-form">
                    {{ search_form.query.label_tag }}
                    {{ search_form.query }}
                    <button type="submit">Buscar</button>
                </form>
            </li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
            {% if user.user_type == "admin" %}
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'product' %}">Administrar Base de datos productos</a></li>
            <li><a href="{% url 'vendedores' %}">Administrar Base de datos vendedores</a></li>
            <li><a href="{% url 'mi_cuenta' %}">Bienvenido, {{ user.full_name }}!</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
            <li><a href="{% url 'carrito' %}">Carrito</a></li>
            <li><a href="{% url 'mi_cuenta' %}">Bienvenido, {{ user.full_name }}!</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% endif %}
            {% else %}
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
            <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
            <li><a href="{% url 'register' %}">Registrate</a></li>
            {% endif %}
        </ul>
    </nav>
<div>
    {% if productos %}
    <h2>Resultados:</h2>
    <table>
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td> <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a></td>
            <td>{{ producto.precio }}</td>
            <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
        </tr>
        {% endfor %}
    </table>
    </ul>
    {% elif productos is not None %}
    <p>No se encontraron productos.</p>
    {% endif %}
</div>

</body>
</html>