{% extends 'inicio/base.html' %}
{% block title %}
<title>Buscar productos</title>
{% endblock %}
{% block content %}
<div>
    {% if productos %}
    <h2>Resultados:</h2>
    <table>
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td> <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a></td>
            <td>{{ producto.precio }}</td>
            <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
        </tr>
        {% endfor %}
    </table>
    </ul>
    {% elif productos is not None %}
    <p>No se encontraron productos.</p>
    {% endif %}
</div>
{% endblock %}
