{% extends 'inicio/base.html' %}
{% block title %}
<title>Cambiar contraseña</title>
{% endblock %}
{% block content %}
<div  class="container text-center py-5">
    <h1>Cambiar contraseña</h1>
</div>


<div class="container text-center col-md-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campo para cambiar nombre -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_id_old_password" style="font-size: 25px;">Contraseña actual:</label>
            {{ form.old_password }}
        </div>

        <!-- Campo para cambiar nombre -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_new_password1" style="font-size: 25px;">Nueva contraseña:</label>
            {{ form.new_password1 }}
        </div>

        <!-- Campo para cambiar nombre -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_new_password2" style="font-size: 25px;">Confirmar nueva contraseña:</label>
            {{ form.new_password2 }}
        </div>

        <button type="submit" class="btn" style="background-color: #ff91c6; color: white; margin-bottom: 10px; font-size: 16px;">
            Guardar Cambios
        </button>
    </form>
    
    </form>
    
    <a href="{% url 'mi_cuenta' %}" class="btn" style="background-color: #ff91c6; color: white; margin-top: 10px;">
        Volver a Mi cuenta
    </a>
</div>
{% endblock %}
