{% extends 'inicio/base.html' %}
{% load static %}
{% block title %}
<title>Borrar trabajador</title>
{% endblock %}
{% block content %}
<div class="container text-center py-5">
<h1>¿Estás seguro de que deseas eliminar este vendedor?</h1>
<p>Nombre: {{ vendedor.nombre }}</p>
<p>Puesto: {{ vendedor.rol }}</p>
<p>Salario: {{ vendedor.salario }}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn" style="background-color: #ff91c6; color: white;">Confirmar</button>
    <a href="{% url 'vendedores' %}" class="btn" style="background-color: #ff91c6; color: #ffffff; border: 1px solid #ff7ebc;"
    onmousedown="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';" 
    onmouseup="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';">Cancelar</a>
</form>
</div>
{% endblock %}