{% extends 'inicio/base.html' %}
{% block title %}
<title>{{producto.titulo}}</title>
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <!-- Sección de imágenes -->
        <div class="col-md-6 text-center">
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url}}" alt="{{ producto.titulo }}" class="product-image mb-4 img-separada">
            {% endif %}
            {% if producto.video %}
                <video controls>
                <source src="{{ producto.video}}" type="video/mp4">
                Tu navegador no soporta el elemento de video.
                </video>
            {% endif %}
        </div>
        <!-- Sección de texto -->
        <div class="col-md-6 text-section">
            <h1 class="fw-bold" style="margin-bottom: 20px;">{{ producto.titulo }}</h1>  
            <h3 style="margin-bottom: 20px;">{{ producto.descripcion }}</h3>
            <h3 style="margin-bottom: 20px;">Precio: ${{ producto.precio }}</h3>
        
            {% if producto.stock == 0 %}
                <h3 style="margin-bottom: 20px;">Producto agotado</h3>
            {% else %}
                <h3 style="margin-bottom: 20px;">Quedan {{ producto.stock }} unidades</h3>
                <form action="{% url 'add_to_cart' producto.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- Campo de entrada renderizado manualmente -->
                        <input type="number" name="cantidad" id="id_full_name" class="form-control" value="1" min="1" max="{{ producto.stock }}" style="margin-bottom: 30px;">
                        <button type="submit" class="btn" style="background-color: #ff91c6; color: #ffffff;">Agregar al carrito</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    {% if datos %}
    <div class="text-center my-5">
        <h2>Comparador de precios</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
        {% for dato in datos %}
                    <tr>
                        <td>{{ dato.title }}</td>
                        <td>{{ dato.price }}</td>
                    </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
</div>
{% endblock %}