{% extends 'inicio/base.html' %}
{% block title %}
<title>Editar Perfil</title>
{% endblock %}
{% block content %}

<div  class="container text-center py-5">
    <h1>Editar Perfil</h1>
</div>

<div class="container text-center col-md-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Campo para cambiar nombre -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_name" style="font-size: 25px;">Nombre:</label>
            {{ form.name }}
        </div>

        <!-- Campo para Cambiar correo -->
        <div class="form-group" style="margin-bottom: 25px;">
            <label for="id_email" style="font-size: 25px;">Correo:</label>
            {{ form.email }}
        </div>

        <button type="submit" class="btn" style="background-color: #ff91c6; color: white; margin-bottom: 10px; font-size: 16px;">
            Guardar Cambios
        </button>
    </form>
    
    </form>
    
    <a href="{% url 'mi_cuenta' %}" class="btn" style="background-color: #ff91c6; color: white; margin-top: 10px;">
        Volver a Mi cuenta
    </a>
</div>
{% endblock %}