{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
            <li><a href="">Carrito</a></li>
            {% if user.is_authenticated %}
            <li><p>Bienvenido, {{ user.full_name }}!</p></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <table>
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td> <a href="{% url 'detalle_producto' producto.identificador %}">{{ producto.titulo }}</a></td>
            <td>{{ producto.precio }}</td>
            <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
        </tr>
        {% endfor %}
    {% endif %}
</body>
</html>
