{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">logo</a></li>
            <li>
                <form method="get" action="{% url 'buscar_productos' %}" class="search-form">
                    {{ search_form.query.label_tag }}
                    {{ search_form.query }}
                    <button type="submit">Buscar</button>
                </form>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
            <li><a href="{% url 'carrito' %}">Carrito</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'mi_cuenta' %}">Bienvenido, {{ user.full_name }}!</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <table>
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Cantidad</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td> <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a></td>
            <td> $ {{ producto.precio }}</td>
            <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
            <td>{{ producto.stock }}</td>
        </tr>
        {% endfor %}
    {% endif %}
</body>
</html>
