{%extends 'inicio/base.html'%}
{% block title %}
<title>Inicio</title>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Cantidad</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td> <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a></td>
            <td> $ {{ producto.precio }}</td>
            <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
            <td>{{ producto.stock }}</td>
        </tr>
        {% endfor %}
{% endblock %}
