{% extends 'inicio/base.html' %} 
{% block title %}
<title>Inicio</title>
{% endblock %}
{% block content %}
    {% if user.user_type == "admin" %}
        <h1>Bienvenido administrador</h1>
        <p>En esta sección puedes administrar la base de datos de productos y vendedores</p>
        <ul>
            <li><a href="{% url 'product' %}">Administrar Base de datos productos</a></li>
            <li><a href="{% url 'vendedores' %}">Administrar Base de datos vendedores</a></li>
        </ul>

    {% else %}
        {% if productos %}
        <table>
            <tr>
                <th>Título</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Cantidad</th>
            </tr>
            {% for producto in productos %}
            <tr>
                <td> <a href="{% url 'detalle_producto' producto.id %}">{{ producto.titulo }}</a></td>
                <td> $ {{ producto.precio }}</td>
                <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
                <td>{{ producto.stock }}</td>
            </tr>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}
