{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'product' %}">Administrar Base de datos productos</a></li>
            <li><a href="{% url 'vendedores' %}">Administrar Base de datos vendedores</a></li>

            {% if user.is_authenticated %}
            <li><p>Bienvenido, {{ user.full_name }}!</p></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
    {% if user.user_type == "admin" %}
        <h1>user type, {{user.user_type}}</h1>
    {% else %}
        <h1>USUARIO SIN PERMISO</h1>
        <a href="{% url 'index' %}">Volver a Inicio</a>
    {% endif %}
    {% endif %}
    
</body>
</html>
