{% extends 'inicio/base.html' %}

{% block title %}
<title>{{producto.titulo}}</title>
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert 
                        {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar sesión</button>
        </form>
        <a href="{% url 'register' %}">¿No tienes cuenta? Regístrate aquí</a>
    </div>

{% endblock %}