{% extends 'inicio/base.html' %}
{% block title %}
<title>Mis pedidos</title>
{% endblock %}
{% block content %}

    <table>
        <tr>
            <th>Estado</th>
            <th>Direccion</th>
            <th>Total</th>
            <th>Fecha pedido</th>

        </tr>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.estado }}</td>
            <td>{{ pedido.direccion_envio }}</td>
            <td>${{ pedido.total }}</td>
            <td>{{ pedido.fecha_pedido }}</td>
        </tr>
        {% endfor %}  
    </table>
{% endblock %}
