{% extends 'inicio/base.html' %}
{% block title %}
<title>Mis direcciones</title>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>Codigo Postal</th>
            <th>Ciudad</th>
            <th>Colonia</th>
            <th>Calle</th>
            <th>Acciones</th>
        </tr>
        {% for direccion in direcciones %}
        <tr>
        <td>{{direccion.codpos}}</td>
        <td>{{direccion.ciudad}}</td>
        <td>{{direccion.colonia}}</td>
        <td>{{direccion.calle}}</td>

        <td>
            <a href="{% url 'editar_direccion' direccion.id %}">Editar</a>
            <a href="{% url 'borrar_direccion' direccion.id %}">Eliminar</a>
        </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'agregar_direccion' %}">Agregar Direcciones</a>
{% endblock %}