{% extends 'inicio/base.html' %}
{% block title %}
<title>Mis direcciones</title>
{% endblock %}
{% block content %}
    <div  class="container text-center py-5">
    <h1>Direcciones</h1>
</div>

<div  class="container text-center py-2">
    <h4>Codigo postal, Ciudad, Colonia, Calle y Número</h4>
</div>

{% for direccion in direcciones %}

    <div class="container text-center py-2">
        <div class="d-flex align-items-center justify-content-between">
            <h5>{{direccion.codpos}}, {{direccion.ciudad}}, {{direccion.colonia}}, {{direccion.calle}}</h5>
            
            <div>
                <!--
                <a href="{% url 'editar_direccion' direccion.id %}">
                    <button class="btn" style="background-color: #ff91c6; color: white;">Editar</button>
                </a>
            -->
                <a href="{% url 'borrar_direccion' direccion.id %}">
                    <button class="btn" style="background-color: #ff91c6; color: white;">Eliminar</button>
                </a>
            </div>
        </div>
    </div>

{% endfor %}

<div class="container text-center py-1">
    <a href="{% url 'agregar_direccion' %}">
        <button class="btn" style="background-color: #ff91c6; color: white;">Agregar Direcciones</button>
    </a>
</div>
<div class="container text-center py-1">
    <a href="{% url 'mi_cuenta' %}" class="btn" style="background-color: #ff91c6; color: white; margin-top: 10px;">
        Volver a Mi cuenta
    </a>
</div>
{% endblock %}