{% extends 'inicio/base.html' %}    
{% block title %}
<title>Productos</title>
{% endblock %}
{% block content %}
        <table>
            <tr>
                <th>Título</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.titulo }}</td>
                <td>{{ producto.precio }}</td>
                <td><img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" width="100"></td>
                <td>
                    <a href="{% url 'producto_edit' producto.id %}">Editar</a>
                    <a href="{% url 'producto_delete' producto.id %}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'agregar_producto'%}">Agregar Producto</a>
    </div>
{% endblock %}