{% extends 'inicio/base.html' %}    
{% block title %}
<title>Productos</title>
{% endblock %}
{% block content %}
<div class="container text-center py-5">
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    
        <div class="row justify-content-center g-4">
            {% for producto in productos %}
                <div class="col-md-3">
                    <div class="card product-card text-center" style="border: 5px solid #ffffff;">
                        {% if producto.imagen %}
                        <a href="{% url 'detalle_producto' producto.id %}">
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" class="card-img-top product-image">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5>{{ producto.titulo }}</h5>
                            <p>{{ producto.precio }}</p>
                            <a href="{% url 'producto_edit' producto.id %}" class="btn" style="background-color: #ff91c6; color: #ffffff; border: 1px solid #ff7ebc;"
                            onmousedown="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';" 
                            onmouseup="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';">Editar</a>
                            <a href="{% url 'producto_delete' producto.id %}"class="btn" style="background-color: #ff91c6; color: #ffffff; border: 1px solid #ff7ebc;"
                            onmousedown="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';" 
                            onmouseup="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';">Borrar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <a href="{% url 'agregar_producto'%}" class="btn" style="background-color: #ff91c6; color: #ffffff; border: 1px solid #ff7ebc;"
    onmousedown="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';" 
    onmouseup="this.style.backgroundColor='#ff91c6'; this.style.color='#ffffff';">Agregar Producto</a>
    </div>

</div>
{% endblock %}