{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">logo</a></li>
            <li>
                <form method="get" action="{% url 'buscar_productos' %}" class="search-form">
                    {{ search_form.query.label_tag }}
                    {{ search_form.query }}
                    <button type="submit">Buscar</button>
                </form>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Nosotros</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
            <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
            <li><a href="{% url 'register' %}">Registrate</a></li>
        </ul>
    </nav>
    <div>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form> 
    </div>
</body>
</html>