{% extends 'inicio/base.html' %}
{% block title %}
<title>Mi cuenta</title>
{% endblock %}
{% block content %}
    {% if user.user_type == "usuario" %}
    <h1>Mi cuenta</h1>
    <a href="{% url 'mis_pedidos' %}">Mis pedidos</a>
    <p>Nombre: {{ user.full_name }}</p>
    <p>Correo: {{ user.email }}</p>
    <a href="{% url 'mis_direcciones' %}">Ver Direcciones</a>
    <a href="{% url 'editar_perfil' %}"> Editar Perfil</a>
    <a href="{% url 'cambiar_password' %}">Cambiar contraseña</a>
    {% endif %}
    {% if user.user_type == "admin" %}
    <p>Nombre: {{ user.full_name }}</p>
    <p>Correo: {{ user.email }}</p>
    <a href="{% url 'editar_perfil' %}"> Editar Perfil</a>
    <a href="{% url 'cambiar_password' %}">Cambiar contraseña</a>
    {% endif %}
    {% if user.user_type == "vendedor" %}
    <p>Nombre: {{ user.full_name }}</p>
    <p>Correo: {{ user.email }}</p>
    <a href="{% url 'editar_perfil' %}"> Editar Perfil</a>
    <a href="{% url 'cambiar_password' %}">Cambiar contraseña</a>
    {% endif %}
{% endblock %}
