{% extends 'inicio/base.html' %}
{% block title %}
<title>Vendedores</title>
{% endblock %}
{% block content %}
    {% if vendedores %}
        <table>
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Salario</th>
            <th>Acciones</th>
        </tr>
        {% for vendedor in vendedores %}
            <tr>
                <td>{{ vendedor.nombre }}</td>
                <td>{{ vendedor.puesto }}</td>
                <td>{{ vendedor.salario }}</td>
                <td>
                    <a href="{% url 'editar_vendedor' vendedor.id %}">Editar</a>
                    <a href="{% url 'borrar_vendedor' vendedor.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No hay vendedores</p>
    {% endif %}
    <a href="{% url 'agregar_vendedor' %}">Agregar Vendedores</a>
{% endblock %}